# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Tailwind / Node
theme/static_src/node_modules/
theme/static_src/package-lock.json
*.css.map

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Environment
.env
.env.*