<!DOCTYPE html>
<html lang="en">
{% block head %}
    {% include "includes/head.html" %}
{% endblock %}
<body class="bg-gray-50 text-gray-900 antialiased min-h-screen flex flex-col"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    {% block header %}
        {% include "includes/header.html" %}
    {% endblock %}

    <main class="flex flex-1" id="content">
        <article class='article container mx-auto px-4 py-8 space-y-8'>
        {% block content %}{% endblock %}
        </article>
    </main>

    {% block footer %}
        {% include "includes/footer.html" %}
    {% endblock %}

</body>
</html>