{% load static tailwind_tags django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page title and description -->
    <title>{{ page_title|default:PROJECT_TITLE }}</title>
    <meta name="description" content="{{ page_description|default:PROJECT_DESCRIPTION }}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    {% htmx_script %}
    <!-- Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="bg-gray-50 text-gray-900 antialiased"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <div class="min-h-screen">
        {% block content %}{% endblock %}
    </div>

</body>
</html>